<%- model_class = Cliente -%>
<div class="page-header">
  <h1>Clientes</h1>

  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Cedula</th>
        <th>Empresa</th>
        <th>Nit</th>
        <th>Cargo</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Celular</th>
        <th>Fax</th>
        <th>Email</th>
        <th>Ubicacion</th>
      </tr>
    </thead>
    <tbody>
      <%= render @clientes %>
    </tbody>
  </table>

  <tfoot>
    <p><%= link_to "Nuevo Cliente", new_cliente_path, :remote => true, :class => 'btn btn-small btn-success' %></p>
  </tfoot>
</div>

