<div class="responsive" id="container">
    <div>
        <h1>FEDCIM</h1>
        <p>FEDCIM  es creada para el centro  Diseño de la aplicacion para el Centro de Formacion en Diseño, Confeccion y Moda SENA.Su fin es dar una manera de vender los servicios que brinda con  la maquina  miilan </p>
    </div>
    <div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
        
        <div  class="modal-header">
            <h5 id="myModalLabel">Proyecto Realizado por:</h5>
        </div>

        <div class="modal-body">
            <p>servicios ofertaddos</p>
            <p></p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>

    <!--fin modal uno-->
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
        <div  class="modal-header">
            <h5 id="myModalLabel">Proyecto Realizado por:</h5>
        </div>

        <div class="modal-body">
            <p>informacion de los encargados de la oficina tecnica</p>
            <p></p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>

    <div id="mod">
        <p class="muted pull-right"><a  href="#myModal2"  role="button" class="pull-right btn-info btn-small " data-toggle="modal" title="Ver Informacion">Encargados</a></p>
       
        <p class="muted pull-right"><a  href="#myModal1"  role="button" class="pull-right btn-info btn-small" data-toggle="modal" title="Ver Informacion">Servicios</a></p>

        <p class="muted pull-right"><a  href="#myModal1"  role="button" class="pull-right btn-info btn-small" data-toggle="modal" title="Ver Informacion">Servicios</a></p>
    </div>
</div>    
   
