<div class="responsive" id="container">
    <div>
        <h1>FEDCIM</h1>
        <p>FEDCIM  es creada para el centro  Diseño de la aplicacion para el Centro de Formacion en Diseño, Confeccion y Moda SENA.Su fin es dar una manera de vender los servicios que brinda con  la maquina  miilan </p>
    </div>
    <div id="myModal1" class="modal hide fade  " tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
        
        <div  class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5 id="myModalLabel">Servicios</h5>
        </div>

        <div class="modal-body  ">
            <p>Diseño de colecciones</p>
            <p>Dijitalizacion de Moldes</p>
            <p>Elaboracion de Molderia: Molde patrón</p>
            <p>Elaboración de Molderia: Escalado</p>
            <p>Elaboracion de Ficha Técnica</p>
            <p>Elaboración de trazos sistematizados</p>
            <p>Plotteo de Trazos</p>
            <p>Corte de Prendas</p>
            <p>Tiqueteado</p>

            <div class="modal-footer">
               <button class="btn btn-mini" data-dismiss="modal" aria- hidden="true">Cerrar</button>
            </div>
        </div>
    </div>

    <!--fin modal uno-->
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
        <div  class="modal-header">
            <h5 id="myModalLabel">Proyecto Realizado por:</h5>
        </div>

        <div class="modal-body">
            <p>Durante cuatro años Inexmoda lideró el reto de fortalecer la competitividad del sector textil a través de la ejecución del proyecto "Plataforma de Innovación para el sector Textil-Confección", financiado por el Banco Interamericano de Desarrollo a través del FOMIN. </p>
            <p>En el marco de este proyecto, la Alcaldia de Milán donó una máquina cortadora de tela con el fin de prestar un servicio de alta tecnologia en el SENA - Sede Calatrava, Itagüi el 28 de diciembre de 2010. A raíz de esta donaciónnación, nació una alianza interinstitucional, con Confama, Interactuar, Cámara de Comercio de Medellin para Antioquia, Sena e Inexmoda, con el fin de proporcionar la prestación de servicios de la máquina; este convenio finalizó en junio de 2012. </p>
        </div> 

        <div class="modal-footer">
            <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>

    <div id="mod">
        <p class="muted pull-right"><a  href="#myModal3"  role="button" class="pull-right btn-info btn-small " data-toggle="modal" title="Ver Informacion">Encargados</a></p>
       
        <p class="muted pull-right"><a  href="#myModal2"  role="button" class="pull-right btn-info btn-small" data-toggle="modal" title="Ver Informacion">Servicios</a></p>

        <p class="muted pull-right"><a  href="#myModal1"  role="button" class="pull-right btn-info btn-small" data-toggle="modal" title="Ver Informacion">Servicios de Diseño y Molderia</a></p>
    </div>
</div>    
   
