<div class="responsive" id="container" >
    <div>
        <h1>FEDCIM</h1>
        <p>FEDCIM  es creada para el centro  Diseño de la aplicacion para el Centro de Formacion en Diseño, Confeccion y Moda SENA.Su fin es dar una manera de vender los servicios que brinda con  la maquina  miilan </p>
    </div>
    <div id="myModal1" class="modal hide fade  " tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
        
        <div  class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h5 id="myModalLabel">Servicios</h5>
        </div>

        <div class="modal-body" id="imgenmod1">
            <div class="control-group">
                <div class="row">
                    <div class="span4">
                        <p><strong id="somp">Diseño de colecciones</strong></p>
                        <p><strong id="somp">Dijitalizacion de Moldes</strong></p>
                        <p><strong id="somp">Elaboracion de Molderia: Molde patrón</p>
                        <p><strong id="somp">Elaboración de Molderia: Escalado</strong></p>
                        <p><strong id="somp">Elaboracion de Ficha Técnica</strong></p>
                    </div>
                    <div class="span2">
                        <div class="row">
                            <p><strong id="somp">Elaboración de trazos sistematizados</strong></p>
                            <p><strong id="somp">Plotteo de Trazos</strong></p>
                            <p><strong id="somp">Corte de Prendas</strong></p>
                            <p><strong id="somp">Tiqueteado</strong></p>
                        </div>
                    </div>    
                </div>    
                <div class="modal-footer">
                   <button class="btn btn-mini" data-dismiss="modal" aria- hidden="true">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

    <!--fin modal uno-->
    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
        <div  class="modal-header">
            <h5 id="myModalLabel">Maquina Milan:</h5>
        </div>

        <div class="modal-body">
            <p>Durante cuatro años Inexmoda lideró el reto de fortalecer la competitividad del sector textil a través de la ejecución del proyecto "Plataforma de Innovación para el sector Textil-Confección", financiado por el Banco Interamericano de Desarrollo a través del FOMIN. </p>
            <p>En el marco de este proyecto, la Alcaldia de Milán donó una máquina cortadora de tela con el fin de prestar un servicio de alta tecnologia en el SENA - Sede Calatrava, Itagüi el 28 de diciembre de 2010. A raíz de esta donaciónnación, nació una alianza interinstitucional, con Confama, Interactuar, Cámara de Comercio de Medellin para Antioquia, Sena e Inexmoda, con el fin de proporcionar la prestación de servicios de la máquina; este convenio finalizó en junio de 2012. </p>
        </div> 

        <div class="modal-footer">
            <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>

    <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel" aria-hidden="true">
        <div  class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
           <h5 id="myModalLabel">Maquina Milan:</h5>
        </div>
        <div class="resposive">
            <div class="modal-body">
                <p>Corte perfecto: para que una prenda sea de valor agregado, el corte debe ser perfecto. La máquina nos permitirá tecnificar el proceso de corte. </p>
                <p> Ahorro en tiempo gracias a la posibilidad de cortar diferentes cantidades de piezas en simultánea (puños, cuellos, mangas, etc.).</p>
                <p>Mínimo desperdicio: actuar sobre los puntos más débiles en la fase de producción, permitirá a los productores estimar los costos de producción desde el desarrollo de productos, realizando considerables ahorros de material. La tela es elemento más costoso y el factor productivo de mayor relevancia. Este representa generalmente el 50% del costo total del producto.</p>
                <p>Sistema automático para extender la tela.
                    Software compatible con otros programas de diseño que favorecerá no sólo el proceso de corte sino de diseño y patronaje (tecnificación).</p>
                    
            </div> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-mini" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>

    <div id="mod">
        <p class="muted pull-right"><a  href="#myModal3"  role="button" class="pull-right btn btn-success btn-small " data-toggle="modal" title="Ver Informacion">Beneficios</a></p>
       
        <p class="muted pull-right"><a  href="#myModal2"  role="button" class="pull-right btn btn-success btn-small" data-toggle="modal" title="Ver Informacion">Proyecto</a></p>

        <p class="muted pull-right"><a  href="#myModal1"  role="button" class="pull-right btn btn-success btn-small" data-toggle="modal" title="Ver Informacion">Servicios de Diseño y Molderia</a></p>


 <div class="btn-group btuser" id="mod">
   <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><i class="   icon-file icon-white "></i>  Documentos</a>
<ul class="dropdown-menu">                          

        <% @documentos.each do |documento| %>
             
        <li><%= link_to "#{documento.precios_file_name}", documento.precios.url, :class => 'btn btn-info btn-small' %></li>
					
                                            
    
                                        
                                 
                             
        <% end %>
</ul>
   </div> 
    </div>
</div>    
   
