// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
#imagen{
  background-image: url('TopHeader32.png')
}
body {
  
  color: Black ;
  font-family: Helvetica  ;
  line-height: 20px;
}

.mod1{
	
	padding-bottom: 10%;
	background-color: blue;
}






// URW Chancery L
